<p>show-data works!</p>
<table>
    <thead>
        <th>Date</th>
        <th>compte</th>
        <th>Description</th>
        <th>Débit</th>
        <th>Crédit</th>
    </thead>
    <tbody>
        <tr>
            <td>01/01/2022</td>
            <td>4411</td>
            <td>FN°01/22 fournit pub</td>
            <td></td>
            <td>5000</td>
        </tr>
        <tr>
            <td>01/01/2022</td>
            <td>3455</td>
            <td>FN°01/22 fournit pub</td>
            <td>1000</td>
            <td></td>
        </tr>
        <tr>
            <td>01/01/2022</td>
            <td>6111</td>
            <td>FN°01/22 fournit pub</td>
            <td>4000</td>
            <td></td>
        </tr>
    
        <tr>
            <td>01/01/2022</td>
            <td>4411</td>
            <td>FN°01/22 fournit pub</td>
            <td></td>
            <td>5000</td>
        </tr>
        <tr>
            <td>01/01/2022</td>
            <td>3455</td>
            <td>FN°01/22 fournit pub</td>
            <td>1000</td>
            <td></td>
        </tr>
        <tr>
            <td>01/01/2022</td>
            <td>6111</td>
            <td>FN°01/22 fournit pub</td>
            <td>4000</td>
            <td></td>
        </tr>

        <tr>
            <td>01/01/2022</td>
            <td>4411</td>
            <td>FN°01/22 SMG</td>
            <td></td>
            <td>5000</td>
        </tr>
        <tr>
            <td>01/01/2022</td>
            <td>3455</td>
            <td>FN°01/22 SMG</td>
            <td>1000</td>
            <td></td>
        </tr>
        <tr>
            <td>01/01/2022</td>
            <td>6121</td>
            <td>FN°01/22 SMG</td>
            <td>4000</td>
            <td></td>
        </tr>
    </tbody>
</table>