<p>add-pieces works!</p>

<div class="box">
    <div class="left-box">
        <div class="zone-saisie">
            
            <select name="" id="">
                <option value="achat">--- Choisir un journal ---</option>
                <option value="achat">Achats</option>
                <option value="achat">Vents</option>
                <option value="achat">Banques</option>
                <option value="achat">Caisse</option>
                <option value="achat">Opération divers</option>
            </select>
            
            <select name="" id="">
                <option value="achat">--- Choisir un mois ---</option>
                <option value="achat">Janvier</option>
                <option value="achat">Février</option>
                <option value="achat">Mars</option>
                <option value="achat">Avril</option>
                <option value="achat">Mai</option>
                <option value="achat">Juin</option>
                <option value="achat">Juillet</option>
                <option value="achat">Aout</option>
                <option value="achat">Septembre</option>
                <option value="achat">Octobre</option>
                <option value="achat">Novembre</option>
                <option value="achat">Décembre</option>
            
            </select>
            <br><br>
            <input type="date" placeholder="jour">
            <input type="text" placeholder="compte"><br><br>
            <input type="text" placeholder="N° facture / nom fournisseur">
            <select name="" id="">
                <option value="achat">--- taux TVA ---</option>
                <option value="achat">00%</option>
                <option value="achat">07%</option>
                <option value="achat">10%</option>
                <option value="achat">14%</option>
                <option value="achat">20%</option>
            </select><br><br>
            
            
            <input type="text" placeholder="TTC">
            <input type="checkbox">D
            <input type="checkbox">C<br><br>
            
            <input type="text" placeholder="compte HT">
            <input type="text" placeholder="Montant HT"><br><br>
            <input type="text" placeholder="compte TVA">
            <input type="text" placeholder="Montant TVA"><br><br>
            <button>Ajouter</button>
            <button>Modifier</button>
            <button>Supprimer</button>
            <button>Chercher</button>
            
            </div>
            
            <div class="zone-affichage">
                
            </div>
        </div>

        
</div>